.map-style {
  font-size: 14px; }
  .map-style a {
    border-bottom: 1px dashed #333;
    color: #333;
    display: inline-block;
    margin-top: 3px;
    padding-bottom: 2px;
    text-decoration: none; }
    .map-style a:hover {
      border-bottom-color: transparent; }

.swal-overlay--show-modal {
  z-index: 100000; }
  .swal-overlay--show-modal .swal-footer {
    text-align: center; }

html,
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }
  html a,
  body a {
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px; }
  @media (max-width: 1200px) {
    .container {
      overflow: hidden;
      width: 100%; } }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Udc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0ddc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Vdc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0adc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Wdc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Xdc1GAK6bt6o.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc1GAK6b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhmIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhvIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhnIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhoIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhkIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhlIqOxjaPXZSk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqOxjaPX.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.block-phone {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .block-phone a {
    text-decoration: none; }
    .block-phone a.number {
      color: #000;
      font-size: 20px; }
      .block-phone a.number:hover {
        color: #889E31; }
    .block-phone a.button {
      margin-top: 10px; }

.block-shop-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 20px 0; }
  .block-shop-item:hover {
    border-color: #CCC;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25); }
  .block-shop-item .image {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%; }
    .block-shop-item .image img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      vertical-align: bottom;
      width: auto; }
  .block-shop-item .text {
    font-size: 13px;
    margin: 10px 0; }
  .block-shop-item .bottom {
    margin-top: auto;
    padding-bottom: 25px;
    position: relative;
    width: 100%; }
    .block-shop-item .bottom .price {
      color: #333;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 10px 0;
      text-transform: uppercase; }
  .block-shop-item a {
    text-decoration: none; }
    .block-shop-item a.name {
      color: #333;
      font-size: 16px;
      font-weight: bold;
      height: 45px;
      margin-bottom: 10px;
      text-transform: uppercase; }
      .block-shop-item a.name:hover {
        color: #9DA83A; }
    .block-shop-item a.button {
      font-size: 16px;
      left: 20px;
      position: absolute;
      right: 20px;
      text-transform: uppercase; }

.block-window-dialog {
  display: none;
  padding: 0; }
  .block-window-dialog .content .title {
    background: #FAFAFA;
    border-bottom: 1px solid #CCC;
    font-size: 16px;
    padding: 20px 50px 20px 20px;
    text-transform: uppercase; }
  .block-window-dialog .content .body {
    padding: 20px; }
    .block-window-dialog .content .body form input {
      margin-bottom: 15px; }
    .block-window-dialog .content .body form button {
      font-size: 16px;
      width: 100%; }
  .block-window-dialog .fancybox-close-small {
    top: 10px; }

.element__INPUT, .block-window-dialog .content .body form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #CCC;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  width: 100%; }
  .element__INPUT:focus, .block-window-dialog .content .body form input:focus {
    border-color: #333; }

.element__BUTTON, .swal-overlay--show-modal .swal-footer .swal-button, .block-phone a.button, .block-shop-item a.button, .block-window-dialog .content .body form button, .element__BUTTON_OUTSIDE_WHITE, .element__BUTTON_OUTSIDE, #section-catalog .container a.more, #section-feedback .container .button {
  background: #9DA83A;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in; }
  .element__BUTTON:hover, .swal-overlay--show-modal .swal-footer .swal-button:hover, .block-phone a.button:hover, .block-shop-item a.button:hover, .block-window-dialog .content .body form button:hover, .element__BUTTON_OUTSIDE_WHITE:hover, .element__BUTTON_OUTSIDE:hover, #section-catalog .container a.more:hover, #section-feedback .container .button:hover {
    background: #A2BA35; }

.element__BUTTON_OUTSIDE_WHITE, .element__BUTTON_OUTSIDE, #section-catalog .container a.more, #section-feedback .container .button {
  background: transparent;
  border: 2px solid #FFF;
  color: #FFF; }
  .element__BUTTON_OUTSIDE_WHITE:hover, .element__BUTTON_OUTSIDE:hover, #section-catalog .container a.more:hover, #section-feedback .container .button:hover {
    border-color: #A2BA35; }

.element__BUTTON_OUTSIDE, #section-catalog .container a.more {
  background: #FFF;
  border-color: #9DA83A;
  color: #9DA83A; }
  .element__BUTTON_OUTSIDE:hover, #section-catalog .container a.more:hover {
    color: #FFF; }

#section-header .container .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px 0; }
  #section-header .container .row > * {
    margin-left: 30px;
    margin-right: 30px; }
  #section-header .container .row .logotype {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 250px; }
    #section-header .container .row .logotype a {
      border: none;
      display: block;
      text-decoration: none; }
      #section-header .container .row .logotype a img {
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
        width: auto; }
  #section-header .container .row .about {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-size: 20px;
    text-transform: uppercase; }
  #section-header .container .row .block-phone {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 350px; }

#section-footer {
  background: #333;
  margin-top: auto; }
  #section-footer > .container {
    background: transparent;
    color: #FFF;
    padding: 40px 0; }
    #section-footer > .container .row {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-left: -30px;
      margin-right: -30px; }
      #section-footer > .container .row > * {
        margin-left: 30px;
        margin-right: 30px; }
      #section-footer > .container .row .about .logotype {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        margin-bottom: 30px;
        width: 250px; }
        #section-footer > .container .row .about .logotype a {
          border: none;
          display: block;
          text-decoration: none; }
          #section-footer > .container .row .about .logotype a img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom;
            width: auto; }
      #section-footer > .container .row .about .social {
        margin-top: 20px; }
        #section-footer > .container .row .about .social ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          #section-footer > .container .row .about .social ul li {
            display: inline-block;
            margin-left: 10px; }
            #section-footer > .container .row .about .social ul li:first-child {
              margin-left: 0; }
            #section-footer > .container .row .about .social ul li a {
              background: #FFF;
              color: #333;
              display: inline-block;
              font-size: 24px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              width: 40px; }
              #section-footer > .container .row .about .social ul li a:hover {
                background: #98A139;
                color: #FFF; }
      #section-footer > .container .row .contacts .item {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        color: #FFF;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px; }
        #section-footer > .container .row .contacts .item .icon {
          font-size: 16px;
          margin-right: 10px;
          width: 20px; }
        #section-footer > .container .row .contacts .item .content {
          padding-top: 2px; }
          #section-footer > .container .row .contacts .item .content a {
            border-bottom: 1px dashed transparent;
            color: #FFF;
            padding-bottom: 2px;
            text-decoration: none; }
            #section-footer > .container .row .contacts .item .content a:hover {
              border-bottom-color: #FFF; }
          #section-footer > .container .row .contacts .item .content ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            #section-footer > .container .row .contacts .item .content ul li {
              margin-top: 3px; }
              #section-footer > .container .row .contacts .item .content ul li:first-child {
                margin-top: 0; }
      #section-footer > .container .row .navigation .title {
        border-bottom: 2px solid #FFF;
        font-size: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-transform: uppercase; }
      #section-footer > .container .row .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #section-footer > .container .row .navigation ul li {
          margin-top: 10px; }
          #section-footer > .container .row .navigation ul li:first-child {
            margin-top: 0; }
          #section-footer > .container .row .navigation ul li a {
            border-bottom: 1px dashed transparent;
            color: #EFEFEF;
            text-decoration: none; }
            #section-footer > .container .row .navigation ul li a:hover {
              border-bottom-color: #FFF;
              color: #FFF; }
      #section-footer > .container .row .block-phone {
        margin-left: auto; }
        #section-footer > .container .row .block-phone a.number {
          color: #FFF; }
  #section-footer .copyright {
    background: #000;
    color: #eee;
    padding: 10px 0;
    text-align: center; }

#section-navigation {
  background: #96AE33; }
  #section-navigation .container {
    background: transparent; }
    #section-navigation .container ul {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0; }
      #section-navigation .container ul li {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        position: relative;
        text-align: center;
        -webkit-transition: background .15s ease-in;
        -o-transition: background .15s ease-in;
        transition: background .15s ease-in; }
        #section-navigation .container ul li:before {
          background: rgba(255, 255, 255, 0.4);
          content: "";
          display: block;
          height: 10px;
          left: 0;
          margin-top: -5px;
          position: absolute;
          top: 50%;
          width: 1px; }
        #section-navigation .container ul li:first-child::before {
          display: none; }
        #section-navigation .container ul li a {
          color: #FFF;
          display: block;
          font-size: 16px;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase; }
        #section-navigation .container ul li:hover, #section-navigation .container ul li.active {
          background: #FFF; }
          #section-navigation .container ul li:hover a, #section-navigation .container ul li.active a {
            color: #96AE33; }
          #section-navigation .container ul li:hover:before, #section-navigation .container ul li.active:before {
            background: transparent; }
          #section-navigation .container ul li:hover + li:before, #section-navigation .container ul li.active + li:before {
            background: transparent; }

.fixed #section-navigation {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000; }

#section-home-slider .slider .item {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 600px;
  position: relative; }
  #section-home-slider .slider .item:before {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  #section-home-slider .slider .item .container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 28px;
    height: 100%;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    z-index: 1; }

#section-home-trigger {
  margin-bottom: 40px;
  margin-top: -70px;
  z-index: 2; }
  #section-home-trigger .container {
    width: 1000px; }
    #section-home-trigger .container .row {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: -30px;
      margin-right: -30px; }
      #section-home-trigger .container .row > * {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: rgba(0, 0, 0, 0.75);
        border: 2px solid #98A139;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #FFF;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
        width: -webkit-calc(33.33% - 60px);
        width: calc(33.33% - 60px); }
        #section-home-trigger .container .row > * .icon {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          font-size: 55px;
          margin-right: 10px; }
        #section-home-trigger .container .row > * .content {
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
          font-weight: bold;
          text-transform: uppercase;
          word-wrap: break-word; }

#section-map {
  border-top: 1px solid #EFEFEF; }
  #section-map #map {
    background: url("images/loader.svg") center center no-repeat;
    height: 400px;
    width: 100%; }

#section-feedback {
  background: url("images/callcenter.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  padding: 120px 0; }
  #section-feedback::before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  #section-feedback .container {
    position: relative;
    text-align: center;
    z-index: 1; }
    #section-feedback .container .title {
      color: #FFF;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
      text-transform: uppercase; }
    #section-feedback .container .button {
      display: inline-block;
      margin-top: 20px; }

#section-reviews {
  padding: 100px 0; }
  #section-reviews .container .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  #section-reviews .container .slider {
    margin: 80px auto 0;
    width: 600px; }
    #section-reviews .container .slider .item {
      text-align: center; }
      #section-reviews .container .slider .item .image {
        border: 2px solid #333;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 200px; }
        #section-reviews .container .slider .item .image img {
          display: inline-block;
          height: auto;
          max-width: 100%;
          vertical-align: bottom;
          width: auto; }
      #section-reviews .container .slider .item .name {
        font-size: 24px;
        margin: 20px auto; }
      #section-reviews .container .slider .item .text {
        color: #333;
        font-size: 16px;
        font-style: italic;
        line-height: 1.5; }
    #section-reviews .container .slider.owl-theme .owl-dots .owl-dot span {
      margin-left: 10px;
      margin-right: 10px;
      height: 15px;
      width: 15px; }
    #section-reviews .container .slider.owl-theme .owl-dots .owl-dot.active span, #section-reviews .container .slider.owl-theme .owl-dots .owl-dot:hover span {
      background: #9DA83A; }
    #section-reviews .container .slider.owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 40px; }

#section-about {
  padding: 100px 0; }
  #section-about .container {
    text-align: center; }
    #section-about .container .title {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase; }
    #section-about .container .block-static-text {
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
      width: 800px; }

#section-catalog {
  background: #EFEFEE;
  padding: 50px 0; }
  #section-catalog .container {
    text-align: center; }
    #section-catalog .container .title {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase; }
    #section-catalog .container .items {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 50px -10px;
      text-align: center; }
      #section-catalog .container .items .block-shop-item {
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        width: -webkit-calc(25% - 20px);
        width: calc(25% - 20px); }
    #section-catalog .container a.more {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.23); }

#section-home-best {
  padding: 40px 0; }
  #section-home-best .container {
    text-align: center; }
    #section-home-best .container .title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase; }
    #section-home-best .container .elements {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 60px -20px; }
      #section-home-best .container .elements .item {
        margin-left: 20px;
        margin-right: 20px;
        width: -webkit-calc(20% - 40px);
        width: calc(20% - 40px); }
        #section-home-best .container .elements .item .image {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          height: 50px;
          margin-bottom: 30px;
          text-align: center; }
          #section-home-best .container .elements .item .image img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom;
            width: auto; }
        #section-home-best .container .elements .item .text {
          color: #333;
          font-size: 14px; }
