.radio label,
.checkbox label{
    padding-left: 0;
}

.icheckbox_square-green{
    margin-right: 10px;
}

.md-skin .ibox.ajax {
    box-shadow: none;
}

.ajax .ibox-content {
    padding-bottom: 0;
}

select.select2-hidden-accessible{
    display: none !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container.select2-container--default.select2-container--open{
    z-index: 3000;
}

.dropdown-menu {
    font-size: 14px;
    min-width: 190px;
}

button.exportButton {
    min-width: 100%;
    border: 0;
    padding: 5px 10px;
    background: #fff;
    color: #818181;
    text-align: left;
}

button.exportButton:hover {
    background: #eee;
}
.publish-form .select2-container .select2-selection--single .select2-selection__rendered{
    white-space: normal;
    height: 100%;

}
